In [1]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_csv(r'C:\Users\mskac\machineLearning\GasLeakConEd\data\processed\FULL_fdny_2013_2018.csv')

In [28]:
df.head()

,Unnamed: 0,geoid,fire_box,property_use_desc,ntaname,boroname,incident_date_time,units_onscene,total_incident_duration
0,0,36047039200,B3361,429 - Multifamily dwelling,Homecrest,Brooklyn,11/08/2015 11:24:36 PM,5,1055
1,1,36047018400,B2821,"960 - Street, other",Bensonhurst West,Brooklyn,11/30/2015 12:11:23 PM,3,2003
2,2,36047107800,B1966,429 - Multifamily dwelling,East New York,Brooklyn,10/01/2013 10:04:59 AM,5,700
3,3,36047089200,B1635,429 - Multifamily dwelling,Brownsville,Brooklyn,05/29/2014 07:28:14 PM,6,1534
4,4,36047055200,B4269,429 - Multifamily dwelling,Madison,Brooklyn,03/11/2013 05:36:33 PM,3,897

In [29]:
df['count'] = 1
property_use_df = df.groupby(['property_use_desc']).agg({'count': 'count'}).reset_index().sort_values(by='count', ascending=False ).head(50)

In [30]:
df['property_use_desc']=df['property_use_desc'].str[6:]

In [31]:
df.head()

,Unnamed: 0,geoid,fire_box,property_use_desc,ntaname,boroname,incident_date_time,units_onscene,total_incident_duration,count
0,0,36047039200,B3361,Multifamily dwelling,Homecrest,Brooklyn,11/08/2015 11:24:36 PM,5,1055,1
1,1,36047018400,B2821,"Street, other",Bensonhurst West,Brooklyn,11/30/2015 12:11:23 PM,3,2003,1
2,2,36047107800,B1966,Multifamily dwelling,East New York,Brooklyn,10/01/2013 10:04:59 AM,5,700,1
3,3,36047089200,B1635,Multifamily dwelling,Brownsville,Brooklyn,05/29/2014 07:28:14 PM,6,1534,1
4,4,36047055200,B4269,Multifamily dwelling,Madison,Brooklyn,03/11/2013 05:36:33 PM,3,897,1

In [33]:
df.to_csv(r'C:\Users\mskac\machineLearning\GasLeakConEd\data\processed\important_(used_in_app)\FULL_fdny_2013_2018.csv')