In [3]:
import pandas as pd

In [2]:
files = [str(i)+'.xlsx' for i in range(1,10)]

In [ ]:
dfs =  []
for file in files:
    dfs.append(pd.read_excel('C:\\Users\\mskac\\machineLearning\\GasLeakConEd\\data\\original\\amirsFiles\\'+ file))

In [ ]:
dfs[5].head()

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
dfs[0]=dfs[0][['BOROUGH\n', 'County', 'NEIGHBORHOOD\n', 'SALE PRICE\n', 'SALE DATE\n', 'Result.address.censusTract2010','Result.address.latitude', 'Result.address.longitude']]

In [ ]:
dfs[1].head()

In [31]:
dfs[1]=dfs[1][['Column3', 'Column4', 'Column5', 'Column3', 'Column3', 'Column3']]

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11,Column12,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21,Column22.address.censusTract2000,Column22.address.censusTract2010,Column22.address.communityDistrict,Column22.address.latitude,Column22.address.longitude,Column22.address.zipCode
1,1438,2,Bronx,Bronx,CROTONA PARK,02 TWO FAMILY DWELLINGS,NaN,,160000,41933,1416,CROTONA,PARK,EAST,NaN,NaN,NaN,CROTONA PARK EAST,NaN,NaN,https://api.cityofnewyork.us/geoclient/v1/addr...,153.0,153.0,203.0,40.834566,-73.896390,10460.0
2,1439,2,Bronx,Bronx,CROTONA PARK,02 TWO FAMILY DWELLINGS,NaN,,330000,41788,712,EAST,175,STREET,NaN,NaN,NaN,EAST 175 STREET,NaN,NaN,https://api.cityofnewyork.us/geoclient/v1/addr...,36902.0,36902.0,206.0,40.842596,-73.893045,10457.0
3,1440,2,Bronx,Bronx,CROTONA PARK,02 TWO FAMILY DWELLINGS,NaN,,220000,41869,709,EAST,175TH,STREET,NaN,NaN,NaN,EAST 175TH STREET,NaN,NaN,https://api.cityofnewyork.us/geoclient/v1/addr...,36902.0,36902.0,206.0,40.842659,-73.893114,10457.0
4,1441,2,Bronx,Bronx,CROTONA PARK,02 TWO FAMILY DWELLINGS,NaN,,299130,41859,816,EAST,175,STREET,NaN,NaN,NaN,EAST 175 STREET,NaN,NaN,https://api.cityofnewyork.us/geoclient/v1/addr...,367.0,367.0,206.0,40.840925,-73.890207,10460.0
5,1442,2,Bronx,Bronx,CROTONA PARK,02 TWO FAMILY DWELLINGS,NaN,,712470,41676,816,EAST,175,STREET,NaN,NaN,NaN,EAST 175 STREET,NaN,NaN,https://api.cityofnewyork.us/geoclient/v1/addr...,367.0,367.0,206.0,40.840925,-73.890207,10460.0

In [13]:
old = dfs[1].columns
new = dfs[0].columns
for k in range(1,10):
    for i in range(len(old)):
        dfs[k].rename({old[i]:new[i]})
dfs[1].head()

IndexError: list index out of range

In [11]:
for i in range(1,9):
    df = dfs[i]
    df = df[df['Column1'] != 'Index']
    dfs[i] = df

C:\Users\mskac\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)
C:\Users\mskac\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)
C:\Users\mskac\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)
C:\Users\mskac\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)

In [5]:
pluto = pd.read_csv(r'D:\CCNYFall20\pluto.csv')

C:\Users\mskac\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (19,20,22,24) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
pluto.columns

Index(['borough', 'block', 'lot', 'cd', 'ct2010', 'cb2010', 'schooldist',
       'council', 'zipcode', 'firecomp', 'policeprct', 'healthcenterdistrict',
       'healtharea', 'sanitboro', 'sanitdistrict', 'sanitsub', 'address',
       'zonedist1', 'zonedist2', 'zonedist3', 'zonedist4', 'overlay1',
       'overlay2', 'spdist1', 'spdist2', 'spdist3', 'ltdheight', 'splitzone',
       'bldgclass', 'landuse', 'easements', 'ownertype', 'ownername',
       'lotarea', 'bldgarea', 'comarea', 'resarea', 'officearea', 'retailarea',
       'garagearea', 'strgearea', 'factryarea', 'otherarea', 'areasource',
       'numbldgs', 'numfloors', 'unitsres', 'unitstotal', 'lotfront',
       'lotdepth', 'bldgfront', 'bldgdepth', 'ext', 'proxcode', 'irrlotcode',
       'lottype', 'bsmtcode', 'assessland', 'assesstot', 'exempttot',
       'yearbuilt', 'yearalter1', 'yearalter2', 'histdist', 'landmark',
       'builtfar', 'residfar', 'commfar', 'facilfar', 'borocode', 'bbl',
       'condono', 'tract2010', 'xcoord', 'ycoord', 'zonemap', 'zmcode',
       'sanborn', 'taxmap', 'edesignum', 'appbbl', 'appdate', 'plutomapid',
       'firm07_flag', 'pfirm15_flag', 'version', 'dcpedited', 'latitude',
       'longitude', 'notes'],
      dtype='object')

In [11]:
len(pluto)

858388

In [12]:
len(pluto[pluto['ownertype'].notnull()])

35466

In [10]:
pluto['ownertype'].unique()

array([nan, 'X', 'C', 'P', 'O', 'M'], dtype=object)